/* Body element */
body,
.light-mode body,
.dark-mode body,
.gray-mode body,
.text-xl,
.drawer,
.subDividers {
  color: rgb(218, 54, 54);
}

.page-body,
.text-s {
  color: black;
}

/* Active link .router-link-active {
  border-bottom: 2px solid gray;
  background-color: #ffffff;
  color: rgb(218, 54, 54);
}
.dark-mode .router-link-active {
  border-bottom: 2px solid rgb(228, 88, 46);
  background-color: #ffffff;
  color: rgb(218, 54, 54);
}
.gray-mode .router-link-active {
  border-bottom: 2px solid rgb(231, 67, 46);
  background-color: #ffffff;
  color: rgb(218, 54, 54);
} */
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(41, 41, 45, 0.8);
}
