.main {
  height: auto;
  min-height: 100vh;
}
.container {
  max-width: 55vw;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin-top: 0.5em;
}
hr {
  border-bottom: 1px solid #ccc;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul,
li {
  list-style: none;
  margin-top: 10px;
}

li:hover,
svg:hover {
  color: rgb(138, 39, 39);
  font-weight: 600;
}

/******************** HOMEPAGE ******************** */

/* First row image transparency settings: odd-indexed images transparent */
.grid-item:nth-child(odd) .image {
  /* 1st, 3rd, 5th elements */
  opacity: 0;
  pointer-events: none;
}

/* Second row image transparency settings: even-indexed images transparent */
.grid-item:nth-child(2n) .image {
  /* 2nd, 4th, 6th, 8th, 10th elements */
  opacity: 0;
  pointer-events: none;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}
.pointer-none {
  pointer-events: none;
}

.pagePrev {
  text-decoration: none;
}
